/cmake-build-debug/
/clion_debug_build/
/clion_release_build/
/.idea/
/out/

# Ignore all .vs files
*.vs
*.vscode

# Ignore the out directory
*.out

# Ignore all image files with png file extension
*.png

# Ignore macOS files
*.DS_Store